body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #1b1b32;
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    margin: 1em auto;
    text-align: center;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

h1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100px;
}

label {
    font-weight: bold;
}

select,
input[type="number"] {
    width: 100%;
    padding: 8px;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

.hidden {
    background-color: gray;
    font-size: 30px;
    font-weight: bold;
}

/* Bright color for links */
a {
    color: #FFD700; /* Bright yellow */
    text-decoration: none; /* Remove underline */
}

a:hover {
    color: #FFFF00; /* Bright yellow on hover */
}
